.usecases {

	&__images {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 80px;
	}

	&__image {
		width: 100%;
		max-width: 255px;
		max-height: 242px;
		border-radius: 8px;

		&:not(:last-child) {
			margin-right: 32px;
		}

	}

	&__text-container {
		margin: 0 auto;
		max-width: 540px;

	}
	&__pretitle {
		color: $hippie-blue;
		text-align: center;
		margin-bottom: 16px;
	}

	&__title {
		text-align: center;
		margin-bottom: 32px;
	}

	&__text {
		text-align: center;
		margin-bottom: 72px;
	}

}