* {
	box-sizing: border-box;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6, p, li, td, a, span, button, figure {
	font-family: "Red-Hat-Display";
	font-weight: 300;
}