* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body, .body {
	width: 100vw;
	overflow-x: hidden;
	transition: all 1s ease;

	&--hidden {
		opacity: 0;
	}

}

.section {
  overflow: hidden;
}

.button {
  padding: 16px 32px;
  color: white;
  border-radius: 32px;
  cursor: pointer;
  font-weight: 900;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &__version {
    margin-left: 4px;
  }

  &--violet {
    background-color: $delunge-violet;

    &:hover {
      background: lighten($delunge-violet, 10%);
    }

    .button__version {
      color: $mauve-purple;
    }

  }

  &--blue {
    background-color: $hippie-blue;

    &:hover {
      background: lighten($hippie-blue, 10%);
    }

    .button__version {
      color: $malibu-blue;
    }

	}

}

.navigator {
  z-index: 5;
  position: relative;

  &__line {
    height: 80px;
    width: 1px;
    background-color: transparentize($mantree-grey, 0.75);
    margin: 0 auto;
  }

  &__index {
    z-index: 5;
    width: 56px;
    height: 56px;
    background-color: $alabaster-white;
    border: 1px solid transparentize($mantree-grey, 0.75);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
